

:root {
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  
  --color-text: #003366;       
  --color-bg: #ffffff;         

  
  color-scheme: light;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
